@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


.join-zoomzy-text {
    text-align: center;
}

/* the entire popup */
.modal { 
    display: none; /*hidden*/
    position: fixed;
    z-index: 1; /* makes sure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ebebdf;
    margin: 10% auto; /* centers it*/
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    font-family: 'Montserrat';
    height: auto;

}
 /* close button in popup */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}


#registerForm label {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

#registerForm input { /* all of the input fields in the popup */
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  outline: none;
  background: #111;
  color: #fff;
  border: none;
  box-sizing: border-box; /* makes sure it's in the box */
  text-align: center;
}

/* join zoomzy button */ 
#register-button { 
    background: linear-gradient(90deg, #ff005e, #ffcc00);
    display: block;
    margin: 1rem auto 0;
    width: 50%;
    padding: 10px;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}



